body {
  margin: 0;
  height: 100%;
  color:#05233D;
  background-color: #48FFD5;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 400%;
  margin: 50px auto 0 auto;
  font-family: 'Abel', sans-serif;
  color: #05233D;
}

h2 {
  font-family: 'Martel Sans', sans-serif;
  color: #05233D;
  font-size: 200%;
}

p{
font-family: 'Martel Sans', sans-serif;
font-size: 130%;
}

hr {
  background-color: #48FFD5;
  border-style: none;
  Border-top-style: dotted;
  border-color: #05233D;
  border-width: 5px;
  width: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 55px;
  overflow: hidden;
  background-color: #05233D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Martel Sans', sans-serif;
  font-size: 130%;
}
li a:hover {
  color: #05233D;
  background-color: #48FFD5;
}

.top-container {
  background-color: #48FFD5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #05233D;
  color: white;
  height: 1000px;
  border: solid;
  padding: 20px;
}

.bottom-container {
  background-color: #48FFD5;
}

.final-container {
  background-color: #48FFD5;
  position: relative;
  padding-bottom: 100px;
}
.btn-primary {
  color: #05233D;
    background-color: #6495ED;


}

.btn-warning {
  color: #05233D;
    background-color: #FFCC00;
}

.button-link:hover {
    background: #f5c401;
}

.button{
width: 420px;
}
.smartphone {
  width: 50%;
  margin:100 px auto 100px auto;
  line-height: 2;
  text-align: left;

}
.letter {
  width: 50%;
  margin:100 px auto 100px auto;
  line-height: 2;
  text-align: left;
}
.alarm {
  width: 50%;
  margin:100 px auto 100px auto;
  line-height: 2;
  text-align: left;
}
.smartphone-pic {
text-align: center;
width: 8%;
float: left;
margin-right: 15px;
}
.letter-pic{
width: 8%;
float: left;
margin-right: 15px;
}
.alarm-pic{
  width: 8%;
  float: left;
  margin-right: 15px;
}
